<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>麻雀点数計算</h2>
		<div id="app">
			<p>アガリ： 
			<select v-model="agari">
				<option disabled value="">アガリの形</option>
				<option value="子のロン">子のロン</option>
				<option value="子のツモ">子のツモ</option>
				<option value="親のロン">親のロン</option>
				<option value="親のツモ">親のツモ</option>
			</select>
			</p>
			<p>　符　：
			<select v-model="fu">
				<option disabled value="">符数</option>
				<option value="20符">20符（平和・ツモ）</option>
				<option value="25符">25符（七対子）</option>
				<option value="30符">30符</option>
				<option value="40符">40符</option>
				<option value="50符">50符</option>
				<option value="60符">60符</option>
				<option value="70符">70符</option>
				<option value="80符">80符</option>
				<option value="90符">90符</option>
				<option value="100符">100符</option>
				<option value="110符">110符</option>
			</select>
			</p>
			<p>　飜　： 
				<select v-model="han">
					<option disabled value="">飜数</option>
					<option value="1飜">1飜</option>
					<option value="2飜">2飜</option>
					<option value="3飜">3飜</option>
					<option value="4飜">4飜</option>
					<option value="満貫">5飜（満貫）</option>
					<option value="跳満">6・7飜（跳満）</option>
					<option value="倍満">8・9・10（倍満）</option>
					<option value="三倍満">11〜（三倍満）</option>
					<option value="役満">役満</option>
					<option value="ダブル役満">ダブル役満</option>
				</select>
			</p>
			<p>5飜以上符の設定不要</p>
			<p>続けて計算したいときはダブルクリックすると表示されます</p>
			<button v-on:click="keisan">計算する</button>
			<p v-show="show">　　　{{ "あなたの点数は" + tensu + "点です" }}   </p>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					fu: '',
					agari: '',
					han: '',
					tensu: "",
					show: false,
				},
				methods: {
					keisan: function () {
						this.show = !this.show
						if (this.fu == "20符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "1,500";
						} else if (this.fu == "20符" && this.han == "3飜" && this.agari == "子のツモ") {
							this.tensu = "2,700";
						} else if (this.fu == "20符" && this.han == "4飜" && this.agari == "子のツモ") {
							this.tensu = "5,200";
						} else if (this.fu == "25符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "1,600";
						} else if (this.fu == "25符" && this.han == "3飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "3,200";
						} else if (this.fu == "25符" && this.han == "4飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "6,400";
						} else if (this.fu == "20符" && this.han == "2飜" && this.agari == "親のツモ") {
							this.tensu = "2,100";
						} else if (this.fu == "20符" && this.han == "3飜" && this.agari == "親のツモ") {
							this.tensu = "3,900";
						} else if (this.fu == "20符" && this.han == "4飜" && this.agari == "親のツモ") {
							this.tensu = "7,800";
						} else if (this.fu == "25符" && this.han == "2飜" && this.agari == "親のロン") {
							this.tensu = "2,400";
						} else if (this.fu == "25符" && this.han == "3飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "4,800";
						} else if (this.fu == "25符" && this.han == "4飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "9,600";
						} else if (this.fu == "30符" && this.han == "1飜" && this.agari == "子のロン") {
							this.tensu = "1,000";
						} else if (this.fu == "30符" && this.han == "2飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "2,000";
						} else if (this.fu == "30符" && this.han == "3飜" && this.agari == "子のロン") {
							this.tensu = "3,900";
						} else if (this.fu == "30符" && this.han == "4飜" && this.agari == "子のロン") {
							this.tensu = "7,700";
						} else if (this.fu == "30符" && this.han == "1飜" && this.agari == "子のツモ") {
							this.tensu = "1,100";
						} else if (this.fu == "30符" && this.han == "3飜" && this.agari == "子のツモ") {
							this.tensu = "4,000";
						} else if (this.fu == "30符" && this.han == "4飜" && this.agari == "子のツモ") {
							this.tensu = "7,900";
						} else if (this.fu == "30符" && this.han == "1飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "1,500";
						} else if (this.fu == "30符" && this.han == "2飜" && this.agari == "親のロン") {
							this.tensu = "2,900";
						} else if (this.fu == "30符" && this.han == "3飜" && this.agari == "親のロン") {
							this.tensu = "5,800";
						} else if (this.fu == "30符" && this.han == "4飜" && this.agari == "親のロン") {
							this.tensu = "11,600";
						} else if (this.fu == "30符" && this.han == "2飜" && this.agari == "親のツモ") {
							this.tensu = "3,000";
						} else if (this.fu == "30符" && this.han == "3飜" && this.agari == "親のツモ") {
							this.tensu = "6,000";
						} else if (this.fu == "30符" && this.han == "4飜" && this.agari == "親のツモ") {
							this.tensu = "11,700";
						} else if (this.fu == "40符" && this.han == "1飜" && this.agari == "子のロン") {
							this.tensu = "1,300";
						} else if (this.fu == "40符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "2,600";
						} else if (this.fu == "40符" && this.han == "3飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "5,200";
						} else if (this.fu == "40符" && this.han == "1飜" && this.agari == "子のツモ") {
							this.tensu = "1,500";
						} else if (this.fu == "40符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "2,700";
						} else if (this.fu == "40符" && this.han == "1飜" && this.agari == "親のロン") {
							this.tensu = "2,000";
						} else if (this.fu == "40符" && this.han == "2飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "3,900";
						} else if (this.fu == "40符" && this.han == "3飜" && this.agari == "親のロン") {
							this.tensu = "7,700";
						} else if (this.fu == "40符" && this.han == "1飜" && this.agari == "親のツモ") {
							this.tensu = "2,100";
						} else if (this.fu == "40符" && this.han == "2飜" && this.agari == "親のツモ") {
							this.tensu = "3,900";
						} else if (this.fu == "40符" && this.han == "3飜" && this.agari == "親のツモ") {
							this.tensu = "7,800";
						} else if (this.fu == "50符" && this.han == "1飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "1,600";
						} else if (this.fu == "50符" && this.han == "2飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "3,200";
						} else if (this.fu == "50符" && this.han == "3飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "6,400";
						} else if (this.fu == "50符" && this.han == "1飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "2,400";
						} else if (this.fu == "50符" && this.han == "2飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "4,800";
						} else if (this.fu == "50符" && this.han == "3飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "9,600";
						} else if (this.fu == "60符" && this.han == "1飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "2,000";
						} else if (this.fu == "60符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "3,900";
						} else if (this.fu == "60符" && this.han == "3飜" && this.agari == "子のロン") {
							this.tensu = "7,700";
						} else if (this.fu == "60符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "4,000";
						} else if (this.fu == "60符" && this.han == "3飜" && this.agari == "子のツモ") {
							this.tensu = "7,900";
						} else if ((this.fu == "40符" || this.fu == "50符" || this.fu == "60符") && this.han == "4飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "8,000";
						} else if (this.fu == "60符" && this.han == "1飜" && this.agari == "親のロン") {
							this.tensu = "2,900";
						} else if (this.fu == "60符" && this.han == "2飜" && this.agari == "親のロン") {
							this.tensu = "5,800";
						} else if (this.fu == "60符" && this.han == "3飜" && this.agari == "親のロン") {
							this.tensu = "11,600";
						} else if (this.fu == "60符" && this.han == "1飜" && this.agari == "親のツモ") {
							this.tensu = "3,000";
						} else if (this.fu == "60符" && this.han == "2飜" && this.agari == "親のツモ") {
							this.tensu = "6,000";
						} else if (this.fu == "60符" && this.han == "3飜" && this.agari == "親のツモ") {
							this.tensu = "11,700";
						} else if ((this.fu == "40符" || this.fu == "50符" || this.fu == "60符") && this.han == "4飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "12,000";
						} else if (this.fu == "70符" && this.han == "1飜" && this.agari == "子のロン") {
							this.tensu = "2,300";
						} else if (this.fu == "70符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "4,500";
						} else if (this.fu == "70符" && this.han == "1飜" && this.agari == "子のツモ") {
							this.tensu = "2,400";
						} else if (this.fu == "70符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "4,700";
						} else if (this.fu == "80符" && this.han == "1飜" && this.agari == "子のロン") {
							this.tensu = "2,600";
						} else if (this.fu == "80符" && this.han == "2飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "5,200";
						} else if (this.fu == "80符" && this.han == "1飜" && this.agari == "子のツモ") {
							this.tensu = "2,700";
						} else if (this.fu == "90符" && this.han == "1飜" && this.agari == "子のロン") {
							this.tensu = "2,900";
						} else if (this.fu == "90符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "5,800";
						} else if (this.fu == "90符" && this.han == "1飜" && this.agari == "子のツモ") {
							this.tensu = "3,100";
						} else if (this.fu == "90符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "5,900";
						} else if (this.fu == "100符" && this.han == "1飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "3,200";
						} else if (this.fu == "100符" && this.han == "2飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "6,400";
						} else if (this.fu == "110符" && this.han == "1飜" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "3,600";
						} else if (this.fu == "110符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "7,100";
						} else if (this.fu == "110符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "7,200";
						} else if ((this.fu == "70符" || this.fu == "80符" || this.fu == "90符" || this.fu == "100符" || this.fu == "110符") && (this.han == "3飜" || this.han == "4飜") && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "8,000";
						} else if (this.fu == "70符" && this.han == "1飜" && this.agari == "親のロン") {
							this.tensu = "3,400";
						} else if (this.fu == "70符" && this.han == "2飜" && this.agari == "親のロン") {
							this.tensu = "6,800";
						} else if (this.fu == "70符" && this.han == "1飜" && this.agari == "親のツモ") {
							this.tensu = "3,600";
						} else if (this.fu == "70符" && this.han == "1飜" && this.agari == "親のツモ") {
							this.tensu = "6,900";
						} else if (this.fu == "80符" && this.han == "1飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "3,900";
						} else if (this.fu == "80符" && this.han == "2飜" && this.agari == "親のロン") {
							this.tensu = "7,700";
						} else if (this.fu == "80符" && this.han == "2飜" && this.agari == "親のツモ") {
							this.tensu = "7,800";
						} else if (this.fu == "90符" && this.han == "1飜" && this.agari == "親のロン") {
							this.tensu = "4,400";
						} else if (this.fu == "90符" && this.han == "2飜" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "8,700";
						} else if (this.fu == "90符" && this.han == "1飜" && this.agari == "親のツモ") {
							this.tensu = "4,500";
						} else if (this.fu == "100符" && this.han == "1飜" && (this.agari == "親のツモ" || this.agari == "親のツモ")) {
							this.tensu = "4,800";
						} else if (this.fu == "100符" && this.han == "2飜" && (this.agari == "親のツモ" || this.agari == "親のツモ")) {
							this.tensu = "9,600";
						} else if (this.fu == "110符" && this.han == "1飜" && this.agari == "親のロン") {
							this.tensu = "5,300";
						} else if (this.fu == "110符" && this.han == "2飜" && this.agari == "親のロン") {
							this.tensu = "10,600"
						} else if (this.fu == "110符" && this.han == "1飜" && this.agari == "親のツモ") {
							this.tensu = "5,400";
						} else if (this.fu == "110符" && this.han == "2飜" && this.agari == "親のツモ") {
							this.tensu = "10,800";
						} else if ((this.fu == "70符" || this.fu == "80符" || this.fu == "90符" || this.fu == "100符" || this.fu == "110符") && (this.han == "3飜" || this.han == "4飜") && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "12,000";
						} else if (this.han == "満貫" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "8,000";
						} else if (this.han == "満貫" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "12,000";
						} else if (this.han == "跳満" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "12,000";
						} else if (this.han == "跳満" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "18,000";
						} else if (this.han == "倍満" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "16,000";
						} else if (this.han == "倍満" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "24,000";
						} else if (this.han == "三倍満" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "24,000";
						}　else if (this.han == "三倍満" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "36,000";
						} else if (this.han == "役満" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "32,000";
						} else if (this.han == "役満" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "48,000";
						} else if (this.han == "ダブル役満" && (this.agari == "子のロン" || this.agari == "子のツモ")) {
							this.tensu = "64,000";
						}
						else if (this.han == "ダブル役満" && (this.agari == "親のロン" || this.agari == "親のツモ")) {
							this.tensu = "96,000";
						}
						else {
							this.tensu = "0";
						}
					}
				}
			})
		</script>
	</body>
</html>
