<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>麻雀の点数を計算する例</h2>
		<div id="app">
			<p>アガリ： 
			<select v-model="agari">
				<option disabled value="">アガリの形</option>
				<option value="子のロン">子のロン</option>
				<option value="子のツモ">子のツモ</option>
				<option value="親のロン">親のロン</option>
				<option value="親のツモ">親のツモ</option>
			</select>
			</p>
			<p>　符　：
			<select v-model="fu">
				<option disabled value="">符数</option>
				<option value="20符">20符（平和・ツモ）</option>
				<option value="25符">25符（七対子）</option>
				<option value="30符">30符</option>
				<option value="40符">40符</option>
				<option value="50符">50符</option>
				<option value="60符">60符</option>
				<option value="70符">70符</option>
				<option value="80符">80符</option>
				<option value="90符">90符</option>
				<option value="100符">100符</option>
				<option value="110符">110符</option>
			</select>
			</p>
			<p>　飜　： 
				<select v-model="han">
					<option disabled value="">飜数</option>
					<option value="1飜">1飜</option>
					<option value="2飜">2飜</option>
					<option value="3飜">3飜</option>
					<option value="4飜">4飜</option>
					<option value="満貫">5飜（満貫）</option>
					<option value="跳満">6・7飜（跳満）</option>
					<option value="倍満">8・9・10（倍満）</option>
					<option value="三倍満">11〜（三倍満）</option>
					<option value="役満">役満</option>
					<option value="ダブル役満">ダブル役満</option>
				</select>
			</p>
				<!--<label><input type="checkbox" value="one" v-model="picked">一飜</label>
				<label><input type="checkbox" value="two" v-model="picked">二飜</label>
				<label><input type="checkbox" value="three" v-model="picked">三飜</label>
				<label><input type="checkbox" value="six" v-model="picked">六飜</label>
				<label><input type="checkbox" value="mankan" v-model="picked">満貫</label>
				<label><input type="checkbox" value="yakuman" v-model="picked">役満</label>
				<label><input type="checkbox" value="double" v-model="picked">ダブル役満</label>-->
			<button v-on:click="keisan">計算する</button>
			<p>　　　あなたの点数は{{ tensu }}点です   </p>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					fu: '',
					agari: '',
					han: '',
					tensu: "",
				},
				methods: {
					keisan: function () {
						if (this.fu == "20符" && this.han == "2飜" && this.agari == "子のツモ") {
							this.tensu = "1,500";
						} else if (this.fu == "20符" && this.han == "3飜" && this.agari == "子のツモ") {
							this.tensu = "2,700";
						} else if (this.fu == "25符" && this.han == "4飜" && this.agari == "子のツモ") {
							this.tensu = "5,200";
						} else if (this.fu == "25符" && this.han == "2飜" && this.agari == "子のロン") {
							this.tensu = "1,600";
						} else if (this.fu == "25符" && this.han == "3飜" && this.agari == "子のロン") {
							this.tensu = "3,200";
						} else if (this.fu == "25符" && this.han == "4飜" && this.agari == "子のロン") {
							this.tensu = "6,400";
						}
						else {
							this.tensu = 0;
						}
					}
				}
			})
		</script>
	</body>
</html>