<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>麻雀の点数を計算する例</h2>
		<div id="app">
			<p>アガリ：
			<select v-model="agari">
				<option disabled value="">アガリの形</option>
				<option>子のロン</option>
				<option>子のツモ</option>
				<option>親のロン</option>
				<option>親のツモ</option>
			</select>
			</p>
			<p>　符　：
			<select v-model="fu">
				<option disabled value="">符数</option>
				<option>20符（平和・ツモ）</option>
				<option>25符（七対子）</option>
				<option>30符</option>
				<option>40符</option>
				<option>50符</option>
				<option>60符</option>
				<option>70符</option>
				<option>80符</option>
				<option>90符</option>
				<option>100符</option>
				<option>110符</option>
			</select>
			</p>
			<p>　飜　： 
				<select v-model="han">
					<option disabled value="">飜数</option>
					<option>1飜</option>
					<option>2飜</option>
					<option>3飜</option>
					<option>4飜</option>
					<option>5飜（満貫）</option>
					<option>6・7飜（跳満）</option>
					<option>8・9・10（倍満）</option>
					<option>11〜（三倍満）</option>
					<option>役満</option>
					<option>ダブル役満</option>
				</select>
			</p>
				<!--<label><input type="checkbox" value="one" v-model="picked">一飜</label>
				<label><input type="checkbox" value="two" v-model="picked">二飜</label>
				<label><input type="checkbox" value="three" v-model="picked">三飜</label>
				<label><input type="checkbox" value="six" v-model="picked">六飜</label>
				<label><input type="checkbox" value="mankan" v-model="picked">満貫</label>
				<label><input type="checkbox" value="yakuman" v-model="picked">役満</label>
				<label><input type="checkbox" value="double" v-model="picked">ダブル役満</label>-->
			<button v-on:click="keisan">計算する</button>
			<p>　　　あなたの点数は{{ tensu }}点です</p>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					fu: '',
					agari: '',
				}
			})
		</script>
	</body>
</html>